@import '../config';

*{
    margin: 0;
    padding: 0;
}
body{
    // background-color: #7f7fd5;
    background-color: $primary_colour;
    width: 100%;
    height: 100%;
    overflow: auto;
}
ul{
    list-style: none;
    li{
        color: white;
        border-color: black;
        border-style: double;
        font-weight: bold;
        margin: 1rem;
        padding: 1rem;
        list-style: none;
        border-style: ridge;
        border-radius: 25px;
        box-shadow: -10px 10px rgba($color: $secondary_colour, $alpha: 0.3);
        // box-shadow: 10px 10px #ffffff;
        // background: linear-gradient(#28FFBF, #BCFFB9);
        // background: linear-gradient(to right, #0052d4, #4364f7, #6fb1fc);
        // background: linear-gradient(#f12711, #f5af19);
        // background: linear-gradient(#7f7fd5, #86a8e7);
        background-color: $accent_colour;
    }
}