@import '../config';

body{
    background-color: $secondary_colour;
    padding: $padding;
}

h1, p{
    text-align: center;
}

h1{
    font-family: $heading_font;
    color: $accent_colour;
}
p{
    color: $primary_colour;
    font-family: $paragraph_font;
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: $padding;
    button{
        padding: $padding;
        height: 100px;
        width: 200px;
        font-size: 25px;
        border: none;
        background-color: $accent_colour;
        color: $secondary_colour;
        cursor: pointer;
        &:hover{
            background-color: $secondary_colour;
            color: $accent_colour;
            border: 3px solid $accent_colour;
        }
    }
}

.android-image{
    img{
        width: 100%;
        height: auto;
    }
}

footer{
    width: 100vw;
    position: fixed;
    bottom: 0px;
    display: flex;
    justify-content: space-evenly;
    bottom: 2vh;
    .fab{
        color: $accent_colour;
        margin-right: $margin;
        font-size: 25px;
    }
    span{
        color: $accent_colour;
        font-size: 25px;
    }
}