@import '../config';

*:hover{
    transition: all ease-in 0.25s;
}

body{
    background-color: $secondary_colour;
    padding: $padding;
}

h1, p{
    text-align: center;
}

h1{
    font-family: $heading_font;
    color: $accent_colour;
}
p{
    color: $primary_colour;
    font-family: $paragraph_font;
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: $padding;
    // @include responsive {
    //     flex-direction: column;
    //     height: 100vh;
    //     &:button{
    //         width: 100vw;
    //         height: auto;
    //     }
    // }
    button{
        padding: $padding;
        height: 100px;
        width: 200px;
        font-size: 25px;
        border: none;
        background-color: $accent_colour;
        color: $secondary_colour;
        cursor: pointer;
        &:hover{
            background-color: $secondary_colour;
            color: $accent_colour;
            border: 3px solid $accent_colour;
        }
    }
}